<div class="hero-unit">
  <h1>Your Table Awaits...</h1>
  <p>With <em>Seat Yourself</em>, you can easily make reservations at your favorite restaurants around the world.</p>
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
