<div class="hero-unit">
  <h1>Seat Yourself</h1>
  <p>This is totally the hardest part about coding.....</p>
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
