<DOCTYPE html>
	<html>
	<head>
		<meta content="text/html"; charset="UTF-8" http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Reservation Confirmation for <%= @user.name %></h1>
		<p>
			This is the hardest part about coding....
		</p>
		<p>
			This email just got sent...
		</p>
	</body>
</html>