@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.rest-image {
	float: left;
}

.rest-info {
	width: 600px;
	float: right;
}

.rest-button {
	padding-bottom: 15px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #E85649;
  letter-spacing: -1px;
  padding: 9px 0 9px 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#logo:hover {
  text-decoration: underline;
}

#new-nav {
  background-color: #232C2E;
  background-image: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#nav-colors li {
  color: #E6E8D2;
  padding-top: 5px;
}